<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count= "2" name="Parallel Test Suite" annotations = "JDK" parallel = "tests">
  <test  name="searchOnAmazon">
    <classes>
      <class name="amazon.automation.searchOnAmazon"/>
    </classes>
  </test> <!-- Test -->
  
  <!-- <test  name="searchOnFlipkart">
    <classes>
      <class name="flipkartAutomation.SearchOnFlipkart"/>
    </classes>
  </test> --> 
  
</suite> <!-- Suite -->
